<blockquote class="post-copyright">
    <% if(theme.postMessage || theme.show_last_updated) { %>
    <div class="content">
        <%- partial('updated') %>
        <% if(theme.postMessage) {%>
        <%- _.template(theme.postMessage)(locals) %>
        <% } %>
        <footer>
            <a href="<%- config.url %>" target="_blank">
                <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
                <%- config.author %>
            </a>
        </footer>
    </div>
    <% } %>
    
</blockquote>
